@charset "utf-8";
/* CSS Document */
body {
	background-color: #F4F6F9;
}
*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.input-group-addon {
    background-color: #0070d2;
    border: 1px solid transparent;	
    color: white;
}
.btn-login {
background-color: #0070d2; 
color: white; 
transition: all 0.1s; 
border: 1px solid transparent;	
}

.btn-login.focus, .btn-login:focus, .btn-login:hover {
	color:#fff;
	background-color: #005fb2;
}
.centir {
	text-align:center;
}

img.login-avatar {
    width: 40%;
    border-radius: 50%;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.home-form-box {
    border: 1px solid rgba(204, 204, 204, 0.69);
    border-radius: 8px;
	box-shadow: 3px -4px 20px 4px rgba(0,0,0,.075);
	-webkit-box-shadow: 3px -4px 20px 4px rgba(0,0,0,.075);
	background-color: #fff;
}	

.g-recaptcha {
	height: auto;
    margin: 0 auto;
    position: relative;
    width: 304px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0070d2;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.container .text-white {
  margin: 20px 0;
}
.text-white {
	color:#fff;
}
