/* 
    Created on : 20 May, 2017, 12:58:19 PM
    Author     : Harshit
*/

* {
    font-family: "Segoe UI";
}

#generateID {
    display: none;
}

.setEmailDiv {
    width: 100%;
    margin: 0 auto;
}

.at {
    font-weight: 300;
    font-size: 28px;
}

.breakicon {
    margin: 40px 0px;
    padding-right: 7px;
}

.icon {
    font-weight: 300;
    font-size: 28px;
    margin: 0px 5px 0px 10px;
}

.setEmail, .setDomain {
    margin: 50px 0px;
    border: none;
    font-weight: 300;
    font-size: 28px;
    border-bottom: 1px solid #000;
}

.setDomain {
    padding: 0px 30px 0px 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10px;
}

.title {
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    margin: 50px 0px;
}

#createline, #createdline, #data {
    display: none;
}

.message {
    text-align: center;
    margin-top: 50px;
    display: none;
}

.downloadButton {
    float: right;
    margin-left: 10px;
    background-color: #777 !important;
    border-color: #333333 !important;
    margin-top: -8px;
}

.deleteButton {
    float: right;
    margin-left: 10px;
    background-color: #333 !important;
    border-color: #000 !important;
    margin-top: -8px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: -15px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0px 24px;
    padding-top: 15px;
    background-color: #f6f6f6;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel > p {
    margin-top: -62px;
}

/* CSS Loader */

.cssload-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cssload-container {
    margin: 17px auto 0 auto;
    max-width: 489px;
}
.cssload-container ul li {
    list-style: none;
}
.cssload-flex-container {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
}
.cssload-flex-container li {
    padding: 9px;
    height: 87px;
    width: 87px;
    margin: 26px 17px 26px -20px;
    position: relative;
    text-align: center;
}
.cssload-loading,
.cssload-loading:after,
.cssload-loading:before {
    display: inline-block;
    position: relative;
    width: 4px;
    height: 44px;
    background: rgb(0, 0, 0);
    margin-top: 4px;
    border-radius: 875px;
    -o-border-radius: 875px;
    -ms-border-radius: 875px;
    -webkit-border-radius: 875px;
    -moz-border-radius: 875px;
    animation: cssload-upDown2 0.9s ease infinite;
    -o-animation: cssload-upDown2 0.9s ease infinite;
    -ms-animation: cssload-upDown2 0.9s ease infinite;
    -webkit-animation: cssload-upDown2 0.9s ease infinite;
    -moz-animation: cssload-upDown2 0.9s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-delay: 0.2225s;
    -o-animation-delay: 0.2225s;
    -ms-animation-delay: 0.2225s;
    -webkit-animation-delay: 0.2225s;
    -moz-animation-delay: 0.2225s;
}
.cssload-loading:after,
.cssload-loading:before {
    position: absolute;
    content: '';
    animation: cssload-upDown 0.9s ease infinite;
    -o-animation: cssload-upDown 0.9s ease infinite;
    -ms-animation: cssload-upDown 0.9s ease infinite;
    -webkit-animation: cssload-upDown 0.9s ease infinite;
    -moz-animation: cssload-upDown 0.9s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}
.cssload-loading:before {
    left: -9px;
}
.cssload-loading:after {
    left: 9px;
    animation-delay: 0.445s;
    -o-animation-delay: 0.445s;
    -ms-animation-delay: 0.445s;
    -webkit-animation-delay: 0.445s;
    -moz-animation-delay: 0.445s;
}
@keyframes cssload-upDown {
    from {
        transform: translateY(17px);
    }
    to {
        transform: translateY(-17px);
    }
}
@-o-keyframes cssload-upDown {
    from {
        -o-transform: translateY(17px);
    }
    to {
        -o-transform: translateY(-17px);
    }
}
@-ms-keyframes cssload-upDown {
    from {
        -ms-transform: translateY(17px);
    }
    to {
        -ms-transform: translateY(-17px);
    }
}
@-webkit-keyframes cssload-upDown {
    from {
        -webkit-transform: translateY(17px);
    }
    to {
        -webkit-transform: translateY(-17px);
    }
}
@-moz-keyframes cssload-upDown {
    from {
        -moz-transform: translateY(17px);
    }
    to {
        -moz-transform: translateY(-17px);
    }
}
@keyframes cssload-upDown2 {
    from {
        transform: translateY(26px);
    }
    to {
        transform: translateY(-17px);
    }
}
@-o-keyframes cssload-upDown2 {
    from {
        -o-transform: translateY(26px);
    }
    to {
        -o-transform: translateY(-17px);
    }
}
@-ms-keyframes cssload-upDown2 {
    from {
        -ms-transform: translateY(26px);
    }
    to {
        -ms-transform: translateY(-17px);
    }
}
@-webkit-keyframes cssload-upDown2 {
    from {
        -webkit-transform: translateY(26px);
    }
    to {
        -webkit-transform: translateY(-17px);
    }
}
@-moz-keyframes cssload-upDown2 {
    from {
        -moz-transform: translateY(26px);
    }
    to {
        -moz-transform: translateY(-17px);
    }
}